.*{
  margin: 0;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_button{
  background-color: #F49D1A;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
}
.home_second{
  margin-left: 20px;
  margin-right: 20px;
}